@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family:Open Sans, sans-serif;
    font-weight: 19rem;
    background-color:#67D378;
    color: #FFFFFF;
    
}
/* Headings and Logos */
h1, h2, h3 {
   font-family: Playfair Display, sans-serif;
   letter-spacing: 0.3rem;
   color: #FFFFFF;
   

}
h2 {
    font-size:120%;
    text-align: center;
}

h3 {
    font-size: 90%;
}
/*header {
    display: flex;
    flex-direction: row;
}*/
#cafelogo {
    font-size: 150%;
    
    width: 17rem;
    padding-top: 0.5rem;
    padding-left: 5rem;
    position: absolute;

}
#logoimage {
    border-radius: 30%;
    width: 4rem;
    margin: 0.5rem;
    float: left;
    position: absolute;
     
}
/*#logo {
    display:flex;
    flex-direction: row;
}*/
/*Naviagtion*/
nav {
    text-align: center;
    background-color: #67D378;
}
#menu {
    font-size: 110%;
    letter-spacing: 0.3rem;
    margin: auto 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #7B9F82;
    
    left: -100%;
    text-align: center;
    transition: all .5s;
}
#menu li {
    display: flexbox;
    justify-content: space-evenly;
    margin-right: 0.5rem 0;
    line-height: 30px;
    padding-top: 4rem;

}

.checkbutton {
    /*float:right*/
    line-height: 0.5rem;
    /*margin: 1rem 0.5rem 0.5rem 0.5rem;*/
    padding: 0.5rem;
    cursor: pointer;
    /*display: inline;*/
    font-size: 4rem;
    right: 0.5rem;
    position: absolute;
    
}
#check {
    display: none;
}
#menu li a {
    color:#FFFFFF;
    font-size: 1.25rem;
    font-weight: 400;
    
}
a.active,a:hover {
    background-color: #67D378;
    transition: .5s;
}
#check:checked ~ ul{
    left:0;
}
#header-position {
    display: flex;
    flex-direction: row;
}
 /*video in main section*/
 #video-outer {
    position: relative;
    /*width: 100%;*/
    height: 40rem;
    z-index: -1;
    
    
}



#paintvideo {
    /*width: 100%;*/
    height: 40rem;
    object-fit:contain;
    position:absolute;
    right: 0;
    bottom: 0;
    
    
}

#text-outer h1 {
    color:#FFFFFF;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    font-size: 280%;
    font-family: Playfair display, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    
}
#text-outer p {
   color: #FFFFFF;
   text-align: center;
   font-size: 150%;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}
#text-outer {
    
    width: 16rem;
    height: 16rem;
    background-color: rgba(103,211,135,.6);
    /*border-radius: 50%;*/
    bottom: 12rem;
    left: 3.5rem;
    border: 0.125rem solid #FFFFFF;
    
    position: absolute;
}
/* concept of cafe/ section 2*/
#watercolor-outer {
    width:100%;
    height:auto;
}
#watercolor {
    margin: 0rem;
    width:100%;
}
#concept-section {
    margin-top: 4rem;
    text-align: center;
    
}
#concept-text {
    margin: 1rem;
    /*border: 0.25rem solid #8C2323;*/
    
    color:#67D378;
    background-color: #FFFFFF;
    box-shadow: 0.25rem 0.25rem 0.125rem #7B9F82;
    
}
/*fixed image section with quote*/
#splash-image {
    width:100%;
    background: url('../images/paint\ splash.jpg') no-repeat center ;
    background-size: 100%;
    height: 12rem;
    margin-top: -0.25rem;
    position: relative;
}
#splash-quote {
    font-size: 0.75rem;
    color: #FFFFFF;
    bottom: 0.5rem;
    text-transform: uppercase;
    width: 16rem;
    left: 0.5rem;
    position:absolute;
    background-color: rgba(140, 35, 35, 0.6);
    text-align: center;
    
}
#paintbrushes {
    background: url('../images/paintbrushes.jpg') center center /cover no-repeat fixed;
    background-size: 100%;
    height:10rem;
    width: 100%;
    background-position: top;
    position:relative;
}
/*Contact information, opening times and location*/
.details {
    text-align: center;
    border: 0.25rem solid #67D378;
    margin: 1rem;
    background-color: #FFFFFF;
    color: #67D378;
    
}
#times {
    background-color: #67D378;
    padding-bottom: 0.5rem;
    
}
#contact-info {
    background-color: #67D378;
    padding-bottom: 0.5rem;
}
#location {
   background-color: #67D378;
   padding-bottom: 0.5rem;
}
#maps {
   background-color: #67D378;
   color: #FFFFFF;
   border-style:outset;
   padding: 0.5rem;
   margin-bottom: 0.5rem;
   cursor:pointer;
   text-transform: uppercase;
}
#maps:hover {
    background-color: #7B9F82;
    color: #FFFFFF;
    border-style: inset;
}
.details-inner {
   padding: 0.5rem; 
   box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
}
/* social media and copyright */
.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    
}

.social-media li {
    margin: 0 0.5rem;
}

.social-media i {
    color: #FFFFFF;
    font-size: 220%;
    
    
}
#copyright {
    text-align: center;
    font-size: 80%;
}

/* About Page*/
#sunny-marie {
    width:20rem;
}
#about-text {
    text-align: center;
    background-color: #FFFFFF;
    color: #67D378;
    box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
    margin: 1rem;
}
#about-heading {
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 1rem;
}
/*Cage page*/

#cafe-image {
    width: 20rem;
    margin-top: 1rem;
}
.menu {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    background-color: #FFFFFF;
    color: #67D378;
    
    box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
}
.menu h3 {
    color: #67D378;
    margin: 0.5rem;
    
}
/*gallery*/
.container #gallery-heading {
    padding-top: 6rem;
    padding-bottom: 1rem;
    text-align: center;
}

/*.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}*/

.container .gallery-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container .gallery-images .box {
    display: flex;
    flex-direction: column;
    width:100%;

}
.container .gallery-images .box img{
    width: 90%;
    border: 0.5rem solid #FFFFFF;
    margin: 1rem auto;
    border-bottom-width: 2rem;
    box-shadow: 0.25rem 0.25rem 0.25rem #7b9f82, -0.125rem -0.125rem 0.25rem #7b9f82;
    

}
/*Event enquiry page*/
.event-section h2 {
    padding-top: 6rem;
    padding-bottom: 1rem;
    text-align: center;
}
.event-enquiry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0.5rem 1rem;
    box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
}
#enquiry-info {
    background-color: #FFFFFF;
    color: #67D378;
    margin: ;
    padding: ;
    

}
.enquiry-form {
    background-color: #FFFFFF;
    color: #67D378;

}
legend {
    font-size: 120%;
    font-weight: bold;
    padding: 1rem;
}
label {
    font-size: 120%;
    

}

input[type=text],
input[type=email],
select,
textarea {
    border: 0.125rem solid #67D378;
    padding: 0.5rem;
    color: #67D378;
    margin-bottom: 0.5rem;
    width: 80%;
    font-size: 100%;
}
input[type=text]:hover,
input[type=email]:hover,
select:hover,
textarea:hover {
    background-color: #7B9F82;

}
input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
    background-color: #FFFFFF;
    border: 0.125 solid #67D378 !important;
    box-shadow: 0 0 0.5rem #67D378 !important;

}


#submit-button {
    font-size: 120%;
    text-transform: capitalize;
    background-color: #67D378;
    color: #FFFFFF;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-style: outset;
}
#submit-button:hover {
    cursor: pointer;
    background-color: #7b9f82;
    color: #67D378;
    border-style: inset;
}