@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #FFFFFF;

}

/* Headings and Logos */
h1,
h2,
h3 {
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 0.3rem;
    color: #FFFFFF;
    text-align: center;


}

h2 {
    font-size: 200%;
    margin: 0rem ;
    padding: 1rem;
    text-shadow: 0 0 3px #8C2323, 0 0 5px #8C2323;
}

/*h3 {
    font-size: 90%;
}*/
/*header {
    display: flex;
    flex-direction: row;
}*/
#cafelogo {
    font-size: 170%;
    font-weight: 600;
    padding-top: 1.5rem;
    padding-left: 5rem;
    position: absolute;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: ;
    color: #8C2323;
    /*text-shadow: 0 0 3px #8C2323, 0 0 5px #8C2323;*/
}

#logoimage {
    border-radius: 1rem;
    width: 4rem;
    margin: 1rem 0.5rem;
    float: left;
    position: absolute;

}
#logotext {
    padding-top: 3.5rem;
    padding-left: 5rem;
    position: absolute;
    font-size: 100%;
    color: #8C2323;
}
/*#logo {
    display:flex;
    flex-direction: row;
}*/
/*Naviagtion*/
nav {
    text-align: center;
    background-color: #67D378;
}

#menu {

    letter-spacing: 0.3rem;
    /*margin: auto 0;*/
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(123, 159, 130, 0.9);

    left: -100%;
    /*text-align: center;*/
    transition: all .5s;
    z-index: 1;
}

#menu li {
    display: flex;
    justify-content: space-evenly;
    /*margin-right: 0.5rem 0;*/
    /*line-height: 2rem;*/
    padding-top: 4rem;


}

.checkbutton {
    /*float:right*/
    
    /*margin: 1rem 0.5rem 0.5rem 0.5rem;*/
    padding: 1rem;
    cursor: pointer;
    /*display: inline;*/
    font-size: 3rem;
    right: 0rem;
    position: absolute;
    color: #8C2323;
}

.checkbutton:hover {
    color: rgba(123, 159, 130, 0.4);
}

#check {
    display: none;
}

#menu li a {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 500;
    /*text-shadow: 0 0 3px #8C2323, 0 0 5px #8C2323;*/

}

#menu li a.active,
#menu li a:hover {
    background-color: rgba(103, 211, 135, .6);
    transition: .5s;
    padding: 0.5rem;
    border-radius: 1rem;
}

#check:checked~ul {
    left: 0;
}

/*#header-position {
    display: flex;
    flex-direction: row;
}*/
/*video in main section*/
#video-outer {
    position: relative;
    /*width: 100%;*/
    height: 40rem;
    z-index: -1;


}



#paintvideo {
    width: 100%;
    height: 34rem;
    object-fit: cover;
    position: absolute;
    
    bottom: 0;


}

#text-outer h1 {
    /*color:#FFFFFF;*/
    text-shadow: 0 0 3px #8C2323, 0 0 5px #8C2323;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    font-size: 280%;

    /*font-family: Playfair display, sans-serif;*/
    /*font-weight: 600;*/
    /*text-transform: capitalize;*/
    /*text-align: center;*/

}

#text-outer p {
    /*color: #FFFFFF;*/
    text-align: center;
    font-size: 150%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-shadow: 0 0 3px #8C2323, 0 0 5px #8C2323;
}

#text-outer {

    width: 16rem;
    height: 16rem;
    /*background-color: rgba(103, 211, 135, .6);*/
    
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    /*border: 0.125rem solid #FFFFFF;*/
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
#learn {
    background-color: rgba(255,255,255, 0.9);
    border: 0.125rem solid #8C2323;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: #8C2323;
    cursor: pointer;
    text-shadow: none;
}
#learn:hover {
    background-color: rgba(103, 211, 135, .6);
    border: 0.125rem solid #FFFFFF;
    color: #FFFFFF;
}
/*#text-outer2 {
    bottom: 1rem;
    
    font-size: 100%;
    width: 14rem;
    height: 5rem;
    position: absolute;
    padding: 0.5rem;
    left:0.5rem;
    
    /*font-weight: 600;
    background-color: rgba(123,159,130,.7);
}*/
#text-outer2 {
    bottom: 1rem;
    /*font-size: 100%;*/
    width: 100%;
    height: 4rem;
    
    padding: 0.5rem;
    left: 0rem;
    margin: 0rem auto;
    border-bottom: 0.125rem solid #FFFFFF;
    /*font-weight: 600;*/
    background-color: #8C2323;
}
hr {
    border-top: 1px solid #FFFFFF;
    width: 100%;
    margin: 0.5rem auto;
}
/* concept of cafe/ section 2*/
#concept {
    background-color: #67D378;
}
/*#concept-heading {
    margin: 1rem;
    font-size: 250%;
    text-shadow: 0 0 3px #8C2323, 0 0 5px  #8C2323;
}*/
#concept-section {
    /*margin-top: 1rem;*/
    text-align: center;
    display: flex;
    flex-direction: column;
}

#concept-section div {
    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0.25rem 0.25rem 0.125rem #7B9F82;
    margin: 0rem 1rem 1rem;
    padding: 1rem;
}

#concept-section div h3 {
    color: #8C2323;
    font-size: 150%;
    /*text-decoration: solid;*/
    padding-bottom: 0.5rem;
}

.concept-text {
    color: #8C2323;
    font-size: 120%;
}
.event-link {
    color: #8C2323;
    font-weight: bold;
    cursor: pointer;
}

#watercolor-outer {
    background: url('../images/painting-concept.jpg')center center no-repeat fixed;
    background-size: 120%;
    width: 100%;
    height: 40rem;
    position: relative;

}

/*#watercolor {
    
    height: 40rem;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
}   */



/*fixed image section with quote*/
/*#splash-image {
    width:100%;
    background: url('../images/paint\ splash.jpg') no-repeat center ;
    background-size: 100%;
    height: 12rem;
    margin-top: -0.25rem;
    position: relative;
}
#splash-quote {
    font-size: 0.75rem;
    color: #FFFFFF;
    bottom: 0.5rem;
    text-transform: uppercase;
    width: 16rem;
    left: 0.5rem;
    position:absolute;
    background-color: rgba(140, 35, 35, 0.6);
    text-align: center;
    
}
#paintbrushes {
    background: url('../images/paintbrushes.jpg') center center /cover no-repeat fixed;
    background-size: 100%;
    height:10rem;
    width: 100%;
    background-position: top;
    position:relative;
}*/
/*Contact information, opening times and location*/
footer {
    background-color: #8C2323;
}
#details-container {
    display: flex;
    flex-direction: column;
}
.details {
    text-align: center;
    /*border: 0.125rem solid #FFFFFF;*/
    margin: 1rem;
    /*background-color: #FFFFFF;*/
    color: #FFFFFF;
    /*font-size: 110%;*/
    /*box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
    border-radius: 1rem;*/
}

.details-inner {
    /*margin-bottom: 2rem;*/
    font-size: 120%;
}

/*.details h2 {
    background-color: #67D378;
    
    font-size: 200%;
    /*text-shadow: 0 0 3px #8C2323, 0 0 5px  #8C2323;
}*/
/*#contact-info {
    background-color: #67D378;
    padding-bottom: 0.5rem;
}
#location {
   background-color: #67D378;
   padding-bottom: 0.5rem;
}*/
#maps {
    background-color: #8C2323;
    color: #FFFFFF;
    border-style: outset;
    padding: 0.5rem;
    /*margin-bottom: 0.5rem;*/
    cursor: pointer;
    text-transform: uppercase;
    font-size: 100%;
}

#maps:hover {
    background-color: #7B9F82;
    color: #FFFFFF;
    border-style: inset;
}

/* social media and copyright */
.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;

}

.social-media li {
    margin: 0 0.5rem;
}

.social-media i {
    color: #FFFFFF;
    font-size: 220%;


}

.social-media i:hover {
    color: #7B9F82;
}

#copyright {
    text-align: center;
    font-size: 100%;
    padding-bottom: 0.25rem;
}

/* About Page*/
#about-section {
    background-color: #67D378;
}
.about {
    display: flex;
    flex-direction: column;
}

.about .about-box {}

#sunny-marie {
    width: 100%;
}

#about-text {
    text-align: center;
    background-color: #FFFFFF;
    color: #8C2323;
    box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
    margin: 1rem;
    padding: 1rem;
    font-size: 120%;
    border-radius: 1rem;
}

/*#about-heading {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 250%;
    text-shadow: 0 0 3px #8C2323, 0 0 5px  #8C2323;
}*/
/*Cage page*/
#menu-section {
    background-color: #67D378;
}
#cafe-image {
    
    margin-top: 1rem;
    background: url('../images/cafe-photo.jpg')center center /cover no-repeat fixed;
    
    
    height: 40rem;
    position: relative;
}

#menu-container {
    display: flex;
    flex-direction: column;
}

.menu {


    margin: 1rem;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
}

#menu-choice {
    /*color: #FFFFFF;
    font-weight: bold;*/
    text-align: center;
    font-size: 120%;
}

.menu li {

    color: #8C2323;
    font-size: 120%;
}

.menu h3 {

    color: #8C2323;
    margin-bottom: 0.5rem;
    font-size: 150%;

}

.line-between {
    border-top: 0.125rem solid #8C2323;
    width: 100%;
}

.prices {
    float: right;
}

/*gallery*/
/*.container #gallery-heading {
    text-shadow: 0 0 3px #8C2323, 0 0 5px  #8C2323;
    text-align: center;
}*/

/*.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}*/
.container {
    background-color: #67D378;
}
.container .gallery-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container .gallery-images .box {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.container .gallery-images img {
    width: 90%;
    border: 0.5rem solid #FFFFFF;
    margin: 1rem auto;
    border-bottom-width: 2rem;
    box-shadow: 0.25rem 0.25rem 0.25rem #7b9f82, -0.125rem -0.125rem 0.25rem #7b9f82;


}

.scroll-button {
    position: fixed;
    width: 2rem;
    height: 2rem;
    color: #8C2323;
    bottom: 1rem;
    right: 1rem;
    text-decoration: none;
    line-height: 1rem;
    font-size: 200%;
}

.scroll-button:hover {
    color: #7B9F82;
}

/*Event enquiry page*/
/*.event-section h2 {
    
    text-align: center;
}*/
.event-section {
    background-color: #67D378;
}
#event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-enquiry {

    text-align: center;
    margin: 1rem;
    box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
    border: 0.125rem solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

#enquiry-info {

    color: #8C2323;

    font-size: 120%;
    /*margin: ;*/
    padding: 2rem;


}

#event-photo {
    width: 90%;
    
    border: 0.5rem solid #FFFFFF;
    margin: 1rem auto;
    border-bottom-width: 2rem;
    box-shadow: 0.25rem 0.25rem 0.25rem #7b9f82, -0.125rem -0.125rem 0.25rem #7b9f82;
}

.enquiry-form {
    background-color: #FFFFFF;
    color: #8C2323;
    border-radius: 1rem;
}

legend {
    font-size: 140%;
    font-weight: bold;
    padding: 1rem;
    font-family: 'Playfair Display', sans-serif;
    ;
}

label {
    font-size: 120%;


}

input[type=text],
input[type=email],
select,
textarea {
    border: 0.125rem solid #8C2323;
    padding: 0.5rem;
    color: #8C2323;
    margin-bottom: 0.5rem;
    width: 80%;
    font-size: 90%;
}

input[type=text]:hover,
input[type=email]:hover,
select:hover,
textarea:hover {
    background-color: #7B9F82;

}

input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
    background-color: #FFFFFF;
    border: 0.125rem solid #67D378 !important;
    box-shadow: 0 0 0.5rem #67D378 !important;

}


#submit-button {
    font-size: 120%;
    text-transform: capitalize;
    background-color: #8C2323;
    color: #FFFFFF;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-style: outset;
}

#submit-button:hover {
    cursor: pointer;
    background-color: #7b9f82;
    color: #67D378;
    border-style: inset;
}

/* Breakpoint for ipads and tablets*/
@media screen and (min-width: 481px) {
    #concept-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #concept-section div {
        max-width: 40%;
        margin: 1rem 0rem;
    }

    #concept-section div h3 {
        font-size: 130%;
        padding-bottom: 1rem;
    }

    .details {
        margin: 1rem auto;
        max-width: 28rem;
        flex:1;
    }
    .details h2 {
        font-size: 200%;
    }

    .details-inner {
        font-size: 120%;
    }

    /*#sunny-marie {
        width: 100%;
    }*/
    h2 {
        font-size: 250%;

    }

    .menu h3 {
        font-size: 170%;
    }

    .menu li {
        font-size: 120%;
    }

    legend {
        font-size: 170%;
    }

    label {
        font-size: 150%;
    }

    #enquiry-info {
        font-size: 120%;
    }

    input[type=text],
    input[type=email],
    select,
    textarea {

        font-size: 120%;
    }
}

@media screen and (min-width: 768px) {
    #text-outer {
        width: 32rem;
        height: 10rem;
    }

    #text-outer h1 {
        font-size: 300%;
    }

    .checkbutton {
        display: none;
    }

    /*nav {
        text-align: center;
        background-color: #67D378;
    }*/

    #menu {

        letter-spacing: 0;
        display: flex;
        align-items: center;
        position: absolute;
        background: none;
        width: 55%;
        left: auto;
        right: 0.5rem;
        height: 1.5rem;
        top: 1.5rem;
        transition: all .5s;
        justify-content: end;
        top: 2rem;
    }

    #menu li {
        display: flex;

        line-height: 1.5rem;
        padding-top: 0rem;


    }



    #check {
        display: none;
    }

    #menu li a {
        color: #8C2323;
        font-size: 1.25rem;
        font-weight: 500;
        /*text-shadow: 0 0 3px #8C2323, 0 0 5px #8C2323;*/
        padding: 0.5rem 0.5rem;
    }

    #menu li a.active,
    #menu li a:hover {
        background-color: rgba(103, 211, 135, .6);
        transition: .5s;
        padding: 0.5rem 0.5rem;
        border: 0.125rem solid #FFFFFF;
        color: #FFFFFF;
        
        text-shadow: 0 0 3px #8C2323, 0 0 5px #8C2323;;
    }

    /*#check:checked ~ ul{
        left:0;
    }*/
    #details-container {
        display: flex;
        flex-direction: row;
    }
    .about {
        display: flex;
        flex-direction: row;


    }

    .about-box1 {
        width: 50%;
    }

    .about-box2 {
        position: relative;
        width: 50%;
        overflow: hidden;
    }

    #sunny-marie {

        position: absolute;
        width: 169%;
        padding: 1rem 0rem;

    }

    #about-text {
        text-align: center;
        background-color: #FFFFFF;
        color: #8C2323;
        box-shadow: 0.25rem 0.25rem 0.125rem #7b9f82;
        margin: 1rem;
        padding: 1rem;
        font-size: 120%;

    }

    #menu-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container .gallery-images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .container .gallery-images .box {
        display: flex;
        flex-direction: row;
        width: 50%;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    #event {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 70%;
        margin: 0rem auto;
    }
}

@media screen and (min-width: 1024px) {
    #menu {
        
    }

    #menu li a {
        font-size: 1.5rem;
    }

    #text-outer2 {
        font-size: 110%;
    }

    #concept-section div {
        max-width: 30%;
    }

    #concept-section div h3 {
        font-size: 150%;
    }

    #sunny-marie {
        width: 100%;
        height: 100%;
    }

    .menu {
        max-width: 30%;

    }

    .menu li {
        font-size: 100%;
    }

    .container .gallery-images img {
        box-shadow: 0.5rem 0.5rem 0.5rem #7b9f82, -0.25rem -0.125rem 0.5rem #7b9f82;
    }

    #event {

        flex-direction: row;
        max-width: 100%;
    }

    .event-enquiry {
        width: 50%;

    }

}

@media screen and (min-width: 1200px) {

    
    #concept-section div {
        max-width: 15%;
    }
    
    #details-container > div {
        width:45%;
        height:17rem;
    }
    #location-container {
        height: 24.25rem;
    }
    .about-box1 {
        max-width: 35rem;
    }
    .about-box2 {
        width: 30rem;
        margin: 1rem;
    }
    .about {
        justify-content: center;
    }
    #about-text {
        width:30rem;
    }
    .menu li{
        font-size: 120%;
    }
    .container .gallery-images .box {
        width: 25%;
    }
    .event-enquiry {
        max-width:40%;
    }
    #event {
        justify-content: center;
    }
}